@page
@model SklepInternetowy.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form>
    <p>
        Category: <select asp-for="ProductCategory" asp-items="Model.Categories">
                <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" height="100" width="100"/>
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>

                <form method="post" asp-page-handler="AddToBasket" asp-route-id="@item.Id">
                    <button type="submit">Add to Basket</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
